body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c52248;
    color: white;
}

.text {
    text-align: center;
    font-size: 20px;
    color: white;
}


.no-list {
    list-style-type: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipe {
    width: 300px;
    height: auto;
}

.image {
    width: 450px;
    height: auto;
}